<html>
    <head>
        <title>Buckutt</title>
        <meta charset="utf-8">
        <meta name="description" content="Buckutt Client Application">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="bower_components/material-design-lite/material.min.css">
        <link rel="stylesheet" href="styles/font.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/header.css">
        <link rel="stylesheet" href="styles/articles.css">
        <link rel="stylesheet" href="styles/cards.css">
        <link rel="stylesheet" href="styles/reloads.css">
        <link rel="stylesheet" href="styles/transitions.css">
    </head>
    <body>
        <div id="main" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
            <div class="shadow-loader"
                 v-show="startedLoading && (!articlesLoaded || !promotionsLoaded)"
                 v-transition="fade">
                <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
            </div>

            <div class="modal-error"
                 v-show="error"
                 v-transition="fade">
                <div class="mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Erreur</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>
                            {{{ errorMessage }}}
                        </p>
                        <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect"
                                v-on="click: closeError">
                            Fermer
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal-reload-credit"
                 v-show="reloadCreditOpened"
                 v-transition="fade">
                <div id="reloadCard" class="mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Rechargement</h2>
                        <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect"
                                v-on="click: closeReloadCredit">
                            Annuler
                        </button>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <template v-repeat="paymentMethods">
                            <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect"
                                    v-class="mdl-button--raised: reloadMethod === slug"
                                    v-attr="disabled: reloadCreditOpened && waitingForValidation"
                                    v-on="click: selectReloadMethod(slug)">
                                {{ text }}
                            </button>
                        </template>
                        <div class="mdl-grid amountGrid">
                            <div class="mdl-cell mdl-cell--12-col">
                                <span id="creditToReload">{{ creditToReload | credit }}</span>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadInput">1</div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadInput">2</div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadInput">3</div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadInput">4</div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadInput">5</div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadInput">6</div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadInput">7</div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadInput">8</div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadInput">9</div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadClearInput">
                                <i class="material-icons">clear</i>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadInput">0</div>
                            <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                 v-on="click: onCreditToReloadValidateInput">
                                <i class="material-icons">check</i>
                            </div>
                        </div>
                        <div class="mdl-grid buttonsGrid">
                            <div class="mdl-cell mdl-cell--12-col validate">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
                                        v-on="click: validateReload">
                                    Paiement accepté
                                </button>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col cancel">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
                                        v-on="click: invalidPayment">
                                    Paiement refusé
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <div class="mdl-layout-spacer">
                        <div v-if="userConnected">
                            <div class="userCredit" data-badge="+{{ totalReload | credit true }}"
                                 v-class="mdl-badge: totalReload > 0">
                                {{ currentUser.fullname }}
                                <br>
                                crédit :
                                <span class="invalidPrice"
                                      v-if="currentUser.credit - totalCost + totalReload < 0">{{ currentUser.credit - totalCost + totalReload | credit true }}</span>
                                <span v-if="currentUser.credit - totalCost + totalReload >= 0">{{ currentUser.credit - totalCost + totalReload | credit true }}</span>
                            </div>
                            <span class="userBasket">Panier : {{{ panier | basket }}}</span>
                        </div>
                        <div v-if="!userConnected && sellerConnected && sellerAuth && lastUser && (lastCredit || lastReload)">
                            <span v-if="lastCredit && !lastReload">Dernière action par {{ lastUser }} pour un achat de {{ lastCredit | credit true }}</span>
                            <span v-if="!lastCredit && lastReload">Dernière action par {{ lastUser }} pour un rechargement de {{ lastReload | credit true }}</span>
                            <span v-if="lastCredit && lastReload">Dernière action par {{ lastUser }} pour un achat de {{ lastCredit | credit true }} et un rechargement de {{ lastReload | credit true }}</span>
                        </div>
                        <div v-if="!userConnected && sellerConnected && sellerAuth && !lastUser && !(lastCredit || lastReload)">
                            En attente d'un étudiant
                        </div>
                        <div v-if="!userConnected && (!sellerConnected || !sellerAuth)">
                            En attente d'un vendeur
                        </div>
                    </div>
                    <nav class="mdl-navigation">
                        <a id="eject" class="mdl-navigation__link" href="#"
                           v-show="sellerConnected"
                           v-on="click: onEject"
                           v-transition="fade">
                            <i class="material-icons">eject</i>
                        </a>
                        <a id="reload" class="mdl-navigation__link" href="#"
                           v-show="userConnected"
                           v-transition="fade"
                           v-on="click: askReload">
                            <i class="material-icons">attach_money</i>
                        </a>
                        <a id="changePoint" class="mdl-navigation__link" href="#">
                            <i class="material-icons">sync</i>
                        </a>
                    </nav>
                </div>
                <div class="mdl-layout__tab-bar mdl-js-ripple-effect"
                     v-show="userConnected"
                     v-transition="fade">
                    <a href="#tab-{{ $index }}" class="mdl-layout__tab is-active" data-target="tab-{{ $index }}"
                       v-on="click: onTabClick"
                       v-class="is-active: $index === 0"
                       v-repeat="categories">{{ $value }}</a>
                </div>
            </header>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <!-- Keep v-if on this div and not v-show, else inittabs is called immediately -->
                    <div class="mdl-grid"
                         v-if="userConnected"
                         v-inittabs="">
                        <template v-repeat="categories">
                            <div id="tab-{{ $index }}" class="mdl-tabs__panel mdl-cell mdl-cell--12-col articlesContainer">
                                <template v-repeat="articles | filterBy categories[$index] in category.name" track-by="id">
                                    <div class="mdl-card mdl-shadow--2dp buckutt-card-image"
                                         v-on="click: onArticleClick"
                                         data-id="{{ id }}">
                                        <div class="mdl-card__title mdl-card--expand"></div>
                                        <div class="mdl-card__actions">
                                            <span class="buckutt-card-image__filename">{{ name }}</span>
                                        </div>
                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
                                                v-on="click: onMinusClick">
                                            <i class="material-icons">remove</i>
                                        </button>
                                    </div>
                                </template>
                            </div>
                        </template>
                    </div>
                    <div class="mdl-grid"
                         v-show="sellerConnected && sellerAuth && !userConnected"
                         v-transition="fade">
                        <div class="mdl-card mdl-shadow--6dp infoCard">
                            En attente d'un étudiant
                        </div>
                    </div>

                    <div class="mdl-grid"
                         v-show="sellerConnected && !sellerAuth"
                         v-transition="fade">
                        <div class="mdl-card mdl-shadow--6dp infoCard authCard">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col"
                                     v-class="wrong: wrongSellerPassword">
                                    <span id="password">{{ sellerPasswordInput | passwordHide }}</span>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onPasswordInput">1</div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onPasswordInput">2</div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onPasswordInput">3</div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onPasswordInput">4</div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onPasswordInput">5</div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onPasswordInput">6</div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onPasswordInput">7</div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onPasswordInput">8</div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onPasswordInput">9</div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onClearInput">
                                    <i class="material-icons">clear</i>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onPasswordInput">0</div>
                                <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-js-ripple-effect"
                                     v-on="click: onValidateInput">
                                    <i class="material-icons">check</i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-grid"
                         v-show="!sellerAuth && !sellerConnected && !userConnected"
                         v-transition="fade">
                        <div class="mdl-card mdl-shadow--6dp infoCard">
                            En attente d'un vendeur
                        </div>
                    </div>
                </div>
            </main>
            <button id="done" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
                    v-on="click: sendBasket">
                    <i class="material-icons">done_all</i>
            </button>
        </div>
        <script src="bower_components/vue/dist/vue.min.js"></script>
        <script src="bower_components/material-design-lite/material.js"></script>

        <script src="init.js"></script>
        <script src="app/utils/uniq.js"></script>
        <script src="app/utils/parents.js"></script>
        <script src="app/utils/etuNumber.js"></script>
        <script src="app/utils/filterObjId.js"></script>
        <script src="app/utils/filterUndefined.js"></script>
        <script src="app/filters/credit.js"></script>
        <script src="app/filters/basket.js"></script>
        <script src="app/filters/passwordHide.js"></script>
        <script src="app/error/error.js"></script>
        <script src="app/articles/articles.js"></script>
        <script src="app/directives/initTabs.js"></script>
        <script src="app/tabs/tabs.js"></script>
        <script src="app/connection/connection.js"></script>
        <script src="app/connection/authInput.js"></script>
        <script src="app/connection/ejecter.js"></script>
        <script src="app/promotions/promotions.js"></script>
        <script src="app/promotions/promotionsEvents.js"></script>
        <script src="app/sendBasket/sendBasket.js"></script>
        <script src="app/reloads/askReload.js"></script>

        <script src="app/randomData.js"></script>

        <script src="app.js"></script>
    </body>
</html>
